.order-table{   
	border-collapse:collapse;
}

.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}
.left{
    margin: 5px;
    padding: 5px 5px 5px 25px; /* 20px makes room for your background image */
    border: 1px solid #aaa;
    height: 60px;
    background: url('/faces/images/arrow0001.png') no-repeat  ;
}
.right{
    margin: 5px;
    padding: 5px 5px 5px 25px; /* 20px makes room for your background image */
    border: 1px solid #aaa;
    height: 60px;
    background: url('/faces/images/arrow0002.png') no-repeat ;
}
.up{
    margin: 5px;
    padding: 5px 5px 5px 25px; /* 20px makes room for your background image */
    border: 1px solid #aaa;
    height: 60px;
    background: url('/faces/images/arrow0003.png') no-repeat;
}


