<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        >

<h:body>

    <ui:composition template="/template/common/commonLayout.xhtml">

        <ui:define name="header">
            <h1>Витязь на распутье</h1>
        </ui:define>

        <ui:define name="content">
            <h:form>

                <h:panelGrid columns="3">

                    Name :
                    <h:inputText id="name" value="#{user.name}"
                                 size="20" required="true"
                                 label="Name" >
                    </h:inputText>

                    <h:messages globalOnly="true"/>

                </h:panelGrid>

                <h:commandButton value="свершить поход" action="#{user.checkUser}" />


            </h:form>
        </ui:define>

        <ui:define name="footer">
            <h:link value="Наши герои" outcome="history"/>
        </ui:define>

    </ui:composition>

</h:body>

</html>

